.employee-summary {
  cursor: pointer;
}

.employee-summary-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 16px;
}

.toggle-arrow {
  font-size: 1.25rem;
}

.employee-details {
  background-color: #f9f9f9;
}

.employee-details-content {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .employee-summary {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }

  .employee-summary-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatar {
    margin-bottom: 8px;
  }

  .toggle-arrow {
    align-self: flex-ed;
    padding-left: 15px;
  }

  .employee-details-content {
    padding: 16px;
    border-top: 1px solid #dfdfdf;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  td {
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
    padding-left: 50%;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: calc(50% - 20px);
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  tr {
    margin-bottom: 10px;
  }

  .employee-details td {
    text-align: left;
    padding-left: 10px;
  }

  .employee-details td::before {
    content: none;
  }
}
